@model Website_BanHang.Context.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa sản phẩm này</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeID)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete","ProductAD",FormMethod.Post,new { enctype="multipart/form-data"})) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
